boto3==1.16.1
botocore==1.19.1
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
cssselect==1.1.0
cssutils==1.0.2
idna==2.10
jmespath==0.10.0
lxml==4.6.1
premailer==3.7.0
pygeocoder==1.2.5
python-dateutil==2.8.1
requests==2.24.0
s3transfer==0.3.3
six==1.15.0
urllib3==1.25.10
yagmail==0.14.245
